<mat-toolbar color="accent">
  <a
    routerLink="/"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu_book</mat-icon>
  </a>
  <span>Examportal</span>
  <span class="example-spacer"></span>
  <a *ngIf="!login.isLoggedIn()" [routerLink]="'/login'" mat-button>Login</a>
  <a *ngIf="!login.isLoggedIn()" [routerLink]="'/signup'" mat-button>Register</a>
  <a (click)="logout()" *ngIf="login.isLoggedIn()" mat-button>Logout</a>
  <a *ngIf="login.isLoggedIn()" mat-button style="margin-left: 50px;">{{ login.getUser().username }}</a>
</mat-toolbar>
