<mat-toolbar color="accent">
  <a
    routerLink="/"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu_book</mat-icon>
  </a>
  <span>Examportal</span>
  <span class="example-spacer"></span>
  <a *ngIf="!isLoggedIn" [routerLink]="'/login'" mat-button>Login</a>
  <a *ngIf="!isLoggedIn" [routerLink]="'/signup'" mat-button>Register</a>
  <a (click)="logout()" *ngIf="isLoggedIn" mat-button>Logout</a>
  <a *ngIf="isLoggedIn && user" mat-button class="ml20">{{ user.username }}</a>
</mat-toolbar>
